html {
	font: 19px Roboto,FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
	font-weight: normal;
	margin:0;
	padding:0;
}
body {
	padding:16px;
	margin:0;
	padding:0;
}

.table {
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}
#topbar {
	padding-left:8px;
	line-height: 50px;
	background-color: #ccc;
}
#topbar .menu {
	float:right;;
	display:inline-block;
	width:50px;
	text-align: center;
	background-color: #bbb;
}
#content {
	background-color: #eee;
	padding:8px;
}

